{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'Juegos-Principal/css/juegos.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="juegos-wrapper">

  <h1 class="titulo-juegos"><i class="fas fa-mountain"></i> JUEGOS DE SENDERISMO </h1>

  <main class="juegos-grid">
    <div class="juego-card">
      <!-- <img class="fondo-juegos" src="{% static 'images/imagenes/fondo-juego.jpg'%}" alt=""> -->
      <div class="icono-juego">
        <i class="fas fa-question-circle"></i></div>
      <h2>Trivia Popayán</h2>
      <p>Pon a prueba tus conocimientos sobre la ciudad blanca.</p>
      <a href="{% url 'trivia_inicio' %}" class="btn-jugar">Jugar</a>
    </div>

    <div class="juego-card">
      <!-- <img class="fondo-juegos" src="{% static 'images/imagenes/fondo-mapa.jpg' %}" alt=""> -->
      <div class="icono-juego">
        <i class="fas fa-map"></i></div>
      <h2>Mapa Roto</h2>
      <p>Reconstruye la ruta correcta en el mapa.</p>
      <a href="{% url 'mapa_roto' %}" class="btn-jugar">Jugar</a>
    </div>
  </main>
</div>
{% endblock %}
