{% comment %} index.html {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'trivia_popayan/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/navbar.css' %}">

    <!-- Icono -->
    <link rel="icon" href="{% static '/images/imagenes/logo.jpg' %}" type="image/x-icon">
    
    <title>¿Cuánto Sabes sobre Senderismo?</title>
</head>
<body>
    <div class="game-wrapper">
        <div class="container">
            <header>
                <div class="puntaje">
                    <img src="{% static 'trivia_popayan/images/puntos.png' %}" alt="Puntos acumulados" aria-hidden="true">
                    <span class="puntos">0</span>
                </div>
                <h1>¡Desafío Senderista!</h1>
                <div class="jugador">
                    <span class="nombre">-</span>
                    <img src="{% static 'trivia_popayan/images/user.png' %}" alt="Avatar del jugador" class="avatar" id="avatar">
                </div>
            </header>

            <main class="inicio">
                <h2>¡Bienvenido a la Aventura!</h2>
                <p>Ingresa tu nombre para comenzar el desafío de senderismo</p>
                <input type="text" id="nombre" placeholder="Escribe tu nombre aquí" required>
                <button class="btn" id="comenzar" data-url="{% url 'juegos/trivia/menu/' %}">Comenzar</button>
            </main>
        </div> 

        <!-- Botón de cerrar -->
        <button class="salir">
            <a href="{% url 'home' %}">Cerrar</a>
        </button>
    </div>
<div class="navbar-space"></div>
    <!-- Navbar de navegación -->
    {% include 'base/navbar.html' %}

    <!-- Script del juego -->
    <script src="{% static '/trivia_popayan/javascripts/trivia-index.js' %}"></script>
</body>
</html>
