<!--======= FOOTER + QR REVISADO ========-->
{% load static %}

<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Explora Rutas</h3>
      <ul>
        <li>Mapa de Popayán</li>
        <li>Explora por fotos</li>
        <li>Actividades</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Acerca de</h3>
      <ul>
        <li>Sobre nosotros</li>
        <li>Donantes</li>
        <li>Centro de ayuda</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contacto</h3>
      <ul>
        <li>Contacto</li>
        <li>Soporte</li>
        <li>Colaboraciones</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Redes Sociales</h3>
      <ul>
          <li>  <a class="a" href="https://www.facebook.com/profile.php?id=61578380357745" target="_blank"> <i class="fa-brands fa-facebook"></i>  Faceboock</a></li>
          <li><a class="a"  href="https://www.instagram.com/app.walk/" target="_blank"> <i class="fa-brands fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Descargas</h3>
      <p>¡Descárgala ya!</p>
      <img src="{% static 'base/images/footer/Captura de pantalla 2025-04-08 170442.png' %}" alt="Código QR" class="qr-code">
      <p>Escanéame</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Walk App. | Todos los derechos reservados.</p>
  </div>
</footer>