{% comment %} juego.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/juego-trivia/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="icon" href="{% static '/images/imagenes/logo.jpg' %}" type="image/x-icon">
    <title>¿Cuánto Sabes sobre Senderismo?</title>
</head>
<body>
    <div class="game-wrapper">
        <div class="container">
            <header>
                <div class="puntaje">
                    <img src="{% static '/images/iconos/puntos.png' %}" alt="Icono de puntos acumulados">
                    <span class="puntos" id="puntos">0</span>
                </div>
                <h1>¡Senderismo Te Reta!</h1>
                <div class="jugador">
                    <span class="nombre" id="nombre">Explorador</span>
                    <img src="{% static '/images/iconos/user.png' %}" alt="Avatar del jugador">
                </div>
            </header>

            <main class="juego">
                <div class="contador-pregunta">
                    <span id="num-pregunta" class="num-pregunta">01</span> /
                    <span>5</span>
                </div>
                <p id="txt-pregunta" class="pregunta">
                    ¿Cuál es el equipo esencial para una caminata de montaña?
                </p>

                <div class="opciones" id="opciones">
                    <button class="opcion" id="a" aria-label="Seleccionar Opción A">Botas de senderismo</button>
                    <button class="opcion" id="b" aria-label="Seleccionar Opción B">Zapatos de vestir</button>
                    <button class="opcion" id="c" aria-label="Seleccionar Opción C">Sandalias de playa</button>
                    <button class="opcion" id="d" aria-label="Seleccionar Opción D">Zapatillas de casa</button>
                </div>

                <button class="btn" id="siguiente" aria-label="Ir a la siguiente pregunta">Siguiente</button>
            </main>
        </div>
    </div>
    <div class="navbar-space"></div>
        {% include 'html/partials/navbar.html' %}
    <script src="{% static '/js/trivia-juego.js' %}"></script>
</body>
</html>