{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Establecer nueva contraseña</title>
    <link rel="stylesheet" href="{% static 'css/autenticacion/password_reset.css' %}">
</head>
<body>
    <div class="container">
        <h2>Establece una nueva contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cambiar contraseña</button>
        </form>
    </div>
</body>
</html>
